<h3>Add new Todo!</h3>

<form (ngSubmit) = "frmInsertTodoItem()">
    <div class="form-group">
      <label for="todoTitle">ToDo title</label>
      <input type="text" class="form-control" id="todoTitle" [(ngModel)] = "inputTodoTitle" name="todoTitle">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="todoIsCompleted" name = "todoCompleted">
      <label class="form-check-label" for="exampleCheck1">ToDo Is Completed</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>