.red{
    color: red;
}

.square{
    width: 100px;
    height: 100px;
}

.squareRed{
    background-color: rgb(136, 37, 37);
    border: 1px solid black;
}

.squareGreen {
    background-color: rgb(40, 58, 13);
    border: 1px solid blue;
}